$color_1: #182026;
$color_2: #f5f8fa;
$color_3: #a4a3a3;
$color_4: #ed1c24;
$color_5: #47bee8;
$color_6: #fff;
$font_family_1: Icons;
$background_color_1: #5c7080;
$background_color_2: #fff;

.multi-select-dropdown {
  display: inline-block;
  width: 100%;
  padding: 10px 15px 0 15px;
  .multi-select-dropdown-header {
    input {
      border: 0;
      height: auto;
      flex: 1 1 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }
  .validation {
    border: solid 1px #ed1c24;
  }
  .hide-total {
    display: none;
  }
  .tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
    .tooltiptext {
      top: 21px;
      left: 36%;
      width: auto;
      transform: translate(-50%, 0);
      padding: 7px 10px;
      color: $color_6;
      background-color: $background_color_1;
      border-radius: 8px;
      position: absolute;
      z-index: 99999999;
      box-sizing: border-box;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      display: none;
      i {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 12px;
        overflow: hidden;
        color: $color_6;
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          left: 50%;
          transform: translate(-50%, 50%) rotate(45deg);
          background-color: $background_color_1;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          color: $color_6;
        }
      }
    }
    &:hover {
      .tooltiptext {
        display: block;
      }
    }
  }
}
.multi-select-dropdown.open {
  box-shadow: #c6bebe26 0px 0px 5px 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 555555;
  background: #fff;
  margin-bottom: 15px;
}
.multi-select-dropdown-header {
  border: 1px solid #ddd;
  color: $color_1;
  width: 100%;
  min-width: 70px;
  border-radius: 5px;
  height: 34px;
  display: flex;
  padding: 0 25px 0 0;
  position: relative;
  justify-content: space-between;
  &:before {
    content: "\F107";
    display: inline-block;
    opacity: 1;
    margin: 0 0.25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: $font_family_1;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    top: 50%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
  span {
    background-color: $background_color_1;
    border: none;
    border-radius: 3px;
    color: $color_2;
    font-size: 12px;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 5px;
  }
}
.multi-select-dropdown-body {
  background-color: $background_color_2;
  overflow: auto;
  z-index: 99;
  border-radius: 6px;
  width: 100%;
  max-height: 350px;
  margin: 10px 0;
  display: none;
  input[type="text"] {
    width: 100%;
  }
  input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -3px;
  }
  .ui.input {
    font-size: 1em;
    width: 100%;
    padding: 10px 10px 12px 10px;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    margin: 0;
    width: auto;
    li {
      border: 0px;
      padding: 2px 0;
      label {
        font-size: 14px;
        width: auto;
        cursor: pointer;
        display: inline-block;
      }
      input {
        margin-right: 12px;
      }
    }
    li.disabled {
      label {
        color: $color_3;
      }
    }
  }
  li {
    .error {
      color: $color_4;
    }
  }
}
.multi-select-dropdown-body.open {
  display: block;
}
.multi-select-dropdown-footer {
  padding: 2px 0px;
  border-top: 1px solid #ddd;
  display: none;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
  .ui.button {
    background: none;
    color: $color_5;
    padding-left: 0;
    padding-right: 0;
    &:hover {
      background: none;
      color: $color_5;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.multi-select-dropdown-footer.open {
  display: flex;
}